@tailwind base;
@tailwind components;
@tailwind utilities;

.books_card {
    width: calc(25% - 1rem);
}

@media screen and (max-width: 768px) {
    .books_card {
        width: calc(50% - 1rem);
    }
    
}

@media screen and (max-width: 480px) {
    .books_card {
        width: calc(100%);
    }
}
